/.metadata/
/bin/
/Vibe-1-master/Vibe-1-master/nbproject/private/
/Preparando entrega 3/APSNUEVO/APS0/nbproject/private/
/Preparando entrega 3/APSNUEVO/APS0/build/
/Preparando entrega 3/APSNUEVO/APS0/dist/
/Preparando entrega 3/APSNUEVO/APS0/APS0-war/dist/
/Preparando entrega 3/APSNUEVO/APS0/APS0-war/build/
/Preparando entrega 3/APSNUEVO/APS0/APS0-ejb/build/
/Preparando entrega 3/APSNUEVO/APS0/APS0-ejb/dist/
/ProyectoAPS/nbproject/private/